
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98vw;
    margin: 0 auto;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 14px;
}

th {
    background-color: #080A52;
    color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.btn-table {
    padding: 5px 10px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    table {
        width: 95vw;
    }

    .fullname {
        display: none;
    }

    .input-material-ui {
        width: 40vw !important
    }
}

@media only screen and (max-width: 700px) {
    .position {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .emailName {
        display: none;
    }
}


@media only screen and (max-width: 500px) {
    .admin-name {
        display: none;
    }

    .phone {
        display: none;
    }
}

@media only screen and (max-width: 410px) {
    table {
        width: 90vw;
    }
    .admin-name {
        display: none;
    }

    .email {
        display: none;
    }

    .emailName {
        display: block;
    }

    .btn-table {
        padding: 2px 5px;
        font-size: 8px;
    }
}