.resultPage {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.resultPage h2 {
    color: #102170;
    font-size: 2em;
    margin: 0 auto;
    padding-bottom: 20px;
}

.button-container {
    margin: 0 auto;
    margin-top: 40px;
}

.resultContainer {
    padding: 20px;
    margin: 50px 10px;
    margin: 0 auto;
    max-width: 700px;
    min-width: 300px;
    background-color: #102170;
    border-radius: 20px;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.result p {
    font-size: 16px;
    padding-left: 10px;
    overflow-y: hidden;
    overflow-x: auto;
    color: white;
}

.button-result {
    font-size: 16px;
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.button-result:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

@media only screen and (max-width: 800px) {
    .result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
}