.searchPage {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

.searchPage img {
    margin: 0 auto;
}

.searchContainer {
    margin: 0 auto;
    background-color: #080A52;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}

.typeInEmail {
    color: white;
    padding-bottom: 20px;
}

.form-email {
    width: 25vw;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border: 0px;
    border-radius: 5px;
}

.button-email {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E63484;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0px;
}

.button-email:hover {
    background-color: #912052;
}

@media only screen and (max-width: 800px) {
    .searchPage img {
        width: 60vw;
    }

    .searchContainer {
        width: 80vw;
    }

    .form-email {
        width: 70vw;
    }
}
